<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROMBot-AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>ROMBot-AI</h1>
    <form method="POST">
		{%if botinput%}
		<input type="text" id="botinput" name="botinput" value="{{botinput}}">
		{%else%}
		<input type="text" id="botinput" name="botinput" placeholder="Ask a question...">
		{%endif%}
		<button type="submit">Send</button>
	</form>
	<br>
	{%if reply%}
	<li>Answer - {{reply}}</li>
	{%endif%}
</body>
</html>